<p id="notice"><%= notice %></p>

<h1><%= @user.first_name %>'s Team</h1>

<div class="clearfix container team-container">
    <ul class="team">
      <% @team.characters.each do |character| %>

        <li>
          <img src="/images/jobs/<%=character.current_job_class.name + character.color.to_s + character.gender%>.gif"><br />
          <%= character.name %><br />
          EXP: <%= character.total_exp %>
        </li>
      <% end %>
    </ul>
</div>

<h1>Task List</h1>
<div class= "clearfix container">
  <ul class="task">
    <% @tasks.each do |task| %>
    	<li>
        <div class="task-item">
          <span class="task-characters">
            <% task.characters.each do |character| %>
              <span>
                <img src="/images/jobs/<%=character.current_job_class.name + character.color.to_s + character.gender%>-SW.gif"></br>
                <%= character.topic.name %>
              </span>
            <% end %>
          </span>
        </div>
        <div class="task-stats task-exp">
          <span><%= task.exp %></span><br />
          EXP
        </div>           
        <div class="task-stats task-hrs">
          <%= task.hours == 0.5 ? "30 min" : "#{task.hours} hrs" %>
        </div>        
        <div class="task-description"> 
          #<%= task.number %>)&nbsp<%= task.name %><br />
          <div>
            <%= auto_link(task.contents) %>
          </div>
        </div>

      </li>
    <% end %>
  </ul>
</div>
<br />
<br />
<h1>Completions</h1>
<br />
<br />
<br />


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
