<p id="notice"><%= notice %></p>

<div class="clearfix container team-container">
  <h1><%= @user.first_name %>'s Team</h1>
  <ul class="team">
    <% @team.characters.each_with_index do |character,index| %>

      <li class="character-<%=character.id%>">
        <img src="/images/jobs/<%=character.current_job_class.name.gsub(" ","") + character.color.to_s + character.gender%>.gif"><br />
        <span><%= character.name %></span><br />
        <%= character.job_level %><br />
        EXP: <%= character.total_exp %>
      </li>
    <% end %>
  </ul>
</div>


<div class= "clearfix container">
  <h1>Task List</h1>
  <ul class="task active">
    <% @tasks.each do |task| %>
    	<li>
        <div class="task-item">     
          <span class="task-characters">
            <% task.characters.each do |character| %>
              <span>
                <img src="/images/jobs/<%=character.current_job_class.name.gsub(" ","") + character.color.to_s + character.gender%>-SW.gif"></br>
                <%= character.topic.name %>
              </span>
            <% end %>          
          </span>
        </div>
        <div class="task-stats task-exp">         
          <span><%= task.exp %></span><br />
          EXP
          <span class="checkmark"><img src="/images/checkmark2.gif" width="90px" alt="checkmark"></span> 
        </div>           
        <div class="task-stats task-hrs">
          <%= task.hours == 0.5 ? "30 min" : "#{task.hours.to_f.round(1)} hrs" %>
        </div>        
        <div class="task-description"> 
          #<%= task.number %>)&nbsp<%= task.name %>        
          <a class="edit-pencil"><img src="/images/pencil.png" alt="edit-pencil"></a>      
          <br />
          <div>
            <%= auto_link(task.contents) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<br />
<br />
<h1>Recently Completed</h1>
<ul class="recently-completed task">
</ul>
<br />
<br />
<br />


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
