<p id="notice"><%= notice %></p>

<h1><%= @user.first_name %>'s Team</h1>

<ul>
  <% @team.characters.each do |character| %>
    <img src="/images/jobs/<%=character.current_job_class.name + character.color.to_s + character.gender%>.gif">
   <li><%= character.name %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
