<p id="notice"><%= notice %></p>

<h1><%= @user.first_name %>'s Team</h1>

<div class="clearfix container">
  <ul class="team">
    <% @team.characters.each do |character| %>

      <li>
        <img src="/images/jobs/<%=character.current_job_class.name + character.color.to_s + character.gender%>.gif"><br />
        <%= character.name %><br />
        EXP: <%= character.total_exp %>
      </li>
    <% end %>
  </ul>
</div>

<h1>Task List</h1>
<ul>
<% @tasks.each do |task| %>
	<li><%= task.name%></li>
<% end %>
<br />
<br />
<h1>Completions</h1>
<br />
<br />
<br />


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
