<li class="edit-character" style="display:none">
  <div class="edit-contents" style="display:none">
    <h2>Change Jobs</h2>
    <ul class="character-jobs">
      <li class="current-job">
        <img src="<%= current_job_image_body @character %>"><br />
        Current
      </li>
      <% @character.available_jobs.each_with_index do |job,index| %>
        <% if index < 9 %>
          <li class="<%= job.job_class_id == @character.current_job_id ? 'active-job' : 'available-job' %>" data-jobid='<%=job.job_class_id%>'><img src="<%= job_image_body job %>"></li>
        <% elsif index == 9 && @character.available_jobs.size > 9 %>
          <li class='jobs-more'>More ></li>
          <li class="<%= job.job_class_id == @character.current_job_id ? 'active-job' : 'available-job' %>" data-jobid='<%=job.job_class_id%>'><img src="<%= job_image_body job %>"></li> 
        <% elsif index == 18 && @character.available_jobs.size > 18 %>
          <li class='jobs-more2'>More ></li>
          <li class="<%= job.job_class_id == @character.current_job_id ? 'active-job' : 'available-job' %>" data-jobid='<%=job.job_class_id%>'><img src="<%= job_image_body job %>"></li>                
        <% else %>
          <li class="<%= job.job_class_id == @character.current_job_id ? 'active-job' : 'available-job' %>" data-jobid='<%=job.job_class_id%>'><img src="<%= job_image_body job %>"></li>     
        <% end %>       
      <% end %>
      <% if @character.available_jobs.size > 9 %>
        <li class='jobs-back' style="float:right">
          Back<br />
          <
        </li> 
      <% end %>
    </ul>
  </div>
</li>

<style>
  
</style>